body {
    margin: 0px;
    font-family: sans-serif;
    background-image: url('photo/background.jpg') disable;
    background-color: #e2ddd6;
    background-attachment: fixed;


}


#navwithlogo {
    background-color: white;

}

#navwithsearch {
    background-color: rgb(211, 222, 226);
    border: 1px solid;
    border-collapse: collapse;
}



#homepage :hover {
    color: #000000;

}

.dropbtn {
    background-color: rgb(143, 177, 240);
    border: 1px solid;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: rgb(143, 177, 240);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: rgb(143, 177, 240);
}

.btn {
    border: 1px solid;
    border-collapse: collapse;
    background-color: transparent;
}

#small-icon {
    background-color: rgba(240, 236, 231, );
}

#shop-nav {
    background-color: rgba(240, 236, 231, );

}

#itempage {
    border: 205px solid;
    border-collapse: collapse;
    background: red;
}

@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&display=swap');


.form-container {
    width: 300px;
    height: 350px;
    overflow: hidden;
    position: absolute;
}

.register {
    width: 300px;
    height: 350px;
    background: rgb(149, 0, 255);
    background: rgb(100, 91, 91);
    background-size: 300%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;

    animation: bg-animation 5s infinite alternate;
}


.title {
    text-align: center;
    padding: 15px;
    padding-top: 20px;
    font-family: 'Comic Sans';
    font-size: 28px;
    font-weight: 700;
    color: white;

}

.black {
    color: black;
}

.form {
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    padding: 5px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    background-color: #cac9d4;
    color: black;
}



.dark-btn {
    background-color: #0077b6;
}

.login {
    width: 300px;
    height: 350px;
    background-color: lightblue;

    border-radius: 50px;

    position: absolute;
    top: 280px;
    transition: 0.3s ease-out;

}

.login:hover {
    top: 70px;
    border-radius: 10px;
}

.login:hover+.register-hover {
    font-size: 20px;
}

@keyframes bg-animation {
    0% {
        background-position: left;
    }

    100% {
        background-position: right;
    }
}

#modal {
    display: flex;
    justify-content: center;
    flex-direction: inherit;
    margin-top: 80px;
}

#form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;

    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-top: 20px;
}